* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sixing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'PT Sans', sans-serif;
  color: #FFF;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'Post No Bills Jaffna Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PostNoBillsJaffna-Bold.woff") format("woff");
}

.header__inner {
  background: #000;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header__top {
  color: #969696;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0;
}

.header__top-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__phone-link {
  color: #969696;
}

.top__contact-item {
  border-right: 1px solid #969696;
  padding: 0 15px;
}

.top__contact-item:nth-child(3) {
  border-right: none;
}

.top__log-link {
  color: #969696;
}

.top__log-img {
  margin-right: 12px;
}

.header__bottom {
  background: #0f0f0f;
}

.header__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom-logo {
  font-family: "Post No Bills Jaffna Bold";
  font-size: 36px;
  line-height: 54px;
}

.header__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 300px;
}

.header__bottom-item {
  padding: 31px 20px;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__bottom-item:hover {
  background: #1f1f1f;
}

.header__bottom-link {
  line-height: 18px;
  text-transform: uppercase;
  color: #FFF;
}

.header__bottom-basket {
  margin-right: 45px;
}

.top {
  background-image: url(../images/top-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 160px 0 154px 0;
}

.top__content {
  width: 730px;
  margin: 0 auto;
  text-align: center;
}

.top__content-main {
  display: inline-block;
  padding: 93px 68px;
  border: 4px solid #FFFFFF;
  margin-bottom: 80px;
}

.top__content-title {
  font-family: 'Post No Bills Jaffna Bold';
  font-weight: 700;
  font-size: 64px;
  border-bottom: 2px solid #FFFFFF;
  margin-bottom: 7px;
}

.top__content-subtitle {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.top__content-text {
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.collection__list {
  background: #000;
  padding: 93px 80px;
  text-align: center;
}

.collecton__list-title {
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.collection__line {
  height: 1px;
  background-color: #fff;
  width: 120px;
  display: inline-block;
  margin-bottom: 50px;
}

.collection__list-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__item + .slider__item {
  margin-left: 50px;
}

.slider__item-inner {
  background: #191B1C;
  margin-bottom: 25px;
}

.slider__item-img {
  padding: 55px 22px;
}

.slider__item-title {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.slider__item-text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #d0d0d0;
}

.collection__catalog {
  background-image: url(../images/man.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 484px 252px 100px;
  max-width: 880px;
  text-align: center;
}

.collection__catalog-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.catalog__line {
  margin-bottom: 30px;
}

.buttons {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 28px;
  border: 1px solid #ffffff;
  background: transparent;
  display: block;
  margin: 0 auto;
}

.collection2018 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.collection2018__content {
  text-align: center;
  background: #000;
  padding: 100px 284px;
}

.collection2018__content-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.collection2018__line {
  margin-bottom: 40px;
}

.collection2018__content-text {
  margin-bottom: 61px;
  max-width: 471px;
}

.new {
  background: #000;
  text-align: center;
  padding: 120px 0 150px;
}

.new__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #FFF;
}

.new__line {
  margin-bottom: 81px;
}

.new__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.new__content-item {
  margin-bottom: 40px;
}

.new__content-inner {
  background: #191B1C;
  margin-bottom: 25px;
}

.new__content-img {
  padding: 55px 22px;
}

.new__content-title {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.new__content-text {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
}
