.collection2018 {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.collection2018__img {

}
.collection2018__content {
	text-align: center;
	background: #000;
	padding: 100px 284px;
}
.collection2018__content-title {
	font-weight: 400;
	font-size: 36px;
	line-height: 48px;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.collection2018__line {
	margin-bottom: 40px;
}
.collection2018__content-text {
	margin-bottom: 61px;
	max-width: 471px;
}
.buttons {
}